@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balthazar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balthazar&family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

@import "tailwindcss";
@source "../index.html";
@source "./**/*.{js,jsx,ts,tsx}";


:root{
  color: #ffffff;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Work Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@layer base {
  h1 {
    @apply text-white;
  }
  h2 {
    @apply text-indigo-400 text-6xl font-bold;
    font-family: "Balthazar", serif;
  }
  h3 {
    @apply text-violet-200 font-semibold text-xl;
    font-family: "Prata", serif;
  }
  p {
    @apply text-lg;
  }
  
}

@layer components {
  .p-lead { 
    @apply text-[1.4rem] text-indigo-200/70 uppercase ; 
    font-family: "Balthazar", serif;
  }
  .p-muted { 
    @apply text-sm leading-6 text-white; 
  }
}


.header{
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:10;

  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:1rem 2rem;

  background: rgba(2, 6, 23, 0.9); 
  backdrop-filter: blur(8px); 
}


.font-rosarivo {
  font-family: "Rosarivo", serif;
}

.font-almendra {
  font-family: "Almendra SC", serif;
  letter-spacing: 0.08em;
}

.font-balthazar {
  font-family: "Balthazar", serif;

}

.font-prata {
  font-family: "Prata", serif;
  font-style: normal;
}


.font-fraunces {
  font-family: "Fraunces", serif;
}


.font-mukta {
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.vertical-timeline::before { background: transparent !important; }

.vertical-timeline-element-icon{
  position: relative;
  top: 22px !important;
  margin-left: -12px !important; /* change if you change size */
}

.vertical-timeline-element-icon svg{
  width: 12px !important;
  height: 12px !important;
}

/* Desktop: two-column timeline */
@media (min-width: 1170px) {
  .vertical-timeline--two-columns::before {
    left: 50% !important;
    margin-left: 0 !important;         
    transform: translateX(-50%);
  }

  .vertical-timeline--two-columns .vertical-timeline-element-icon {
    left: 50% !important;
    margin-left: 0 !important;         
    transform: translateX(-50%);
  }
}





