@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balthazar&display=swap");
@import "tailwindcss";
@source "../index.html";
@source "./**/*.{js,jsx,ts,tsx}";


:root{
  color: #ffffff;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Work Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@layer base {
  h1 {
    @apply text-white;
  }
  h2 {
    @apply text-indigo-400 text-6xl font-bold;
    font-family: "Balthazar", serif;
  }
  p {
    @apply text-lg;
  }
  
}

@layer components {
  .p-lead { 
    @apply text-[1.4rem] text-indigo-200/70 uppercase ; 
    font-family: "Balthazar", serif;
  }
  .p-muted { 
    @apply text-sm leading-6 text-white; 
  }
}


.header{
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:10;

  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:1rem 2rem;

  background: rgba(2, 6, 23, 0.9); 
  backdrop-filter: blur(8px); 
}


.font-rosarivo {
  font-family: "Rosarivo", serif;
}

.font-almendra {
  font-family: "Almendra SC", serif;
  letter-spacing: 0.08em;
}

.font-balthazar {
  font-family: "Balthazar", serif;

}